body {
  background-color: #919473;
  margin: 20px;
  padding: 20px;
}
h1{
  color: #2a3248c1;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
h2{
  color: #2a3248c1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #2a3248c1;
  }
.image{
  display: block;
  justify-content: center;  
  margin-left: auto;
  margin-right: auto;
  border: #233a42 5px solid;
  border-radius: 50%;
border-width: 10px;}
  
.insta{
  border: #233a42 10px solid;
  height: 50px;
}
pre {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: #121211;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: #1b1e24;
}
th {
  border: 1px solid #080b10;
  padding: 8px;
  text-align: left;
  background-color: #6c7258;
}
td {
  border: 1px solid #080b10;
  padding: 8px;
}
form{
  margin-top: 20px;
  margin-bottom: 20px;
}
input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="password"] {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}