body {
  background-color: #2c3e50;
  background-size: contain;
  
  margin: 20px;
  padding: 20px;

  .responsive-box {
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  @media (max-width: 600px) {
    .responsive-box {
      background-color: #71816d;
    }
  }
  
  @media (min-width: 601px) {
    .responsive-box {
      background-color: #c9b79c;
    }
  }
}
h1{
  color: #e1e2e1;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
h2{
  color: #e1e2e1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #e1e2e1;
    list-style-type:none;
  }
.image{
  display: block;
  justify-content: center;  
  margin-left: auto;
  margin-right: auto;
  border: #34495e 5px solid;
  border-radius: 50%;
border-width: 10px;}
  
.flex-container {
    display: flex;
    justify-content: center;
    align-items: left;
    height: auto;
  }

  .box {
    
    padding: 20px;
    text-align: center;
    height: 10px;
  }

pre {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #163716;
  position: relative;


}
table {
  width: 100%;
  border-collapse: collapse;
  border: #e1e2e1 2px solid;
;
}
th {
  border: 1px solid #34495e;
  padding: 8px;
  text-align: left;
  background-color: #6c7258;
}
td {
  border: 1px solid #e1e2e1;
  padding: 8px;
}
form{
  margin-top: 20px;
  margin-bottom: 20px;
}
input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="password"] {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.transition-button {
        background-color: lightblue;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 30%;
      }
      
      .transition-button:hover {
        background-color: lightcoral;
      }
      .animation-box {
        width: 50px;
        height: 50px;
        background-color: lightgreen;
        position: relative;
        animation: move 2s infinite alternate;
      }
      
      @keyframes move {
        from {
          left: 0;
        }
        to {
          left: 100px;
        }
    
      }
      .pseudo-list li:nth-child(odd) {
        display: block;
        background-color: rgb(105, 196, 82);
      }
      
      .pseudo-list li:nth-child(even) {
        display: block;
        background-color: rgb(208, 117, 47);
      }
      .filter-image {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
        max-width: 100%;
        height: auto;
      }
      
      .filter-image:hover {
        filter: grayscale(0%);
        transition: ease-in-out, transform 0.5s ease-in-out;
      }
      .quote {
        position: relative;
        padding-left: 20px;
        font-style: italic;
      }
      
      .quote::before {
        content: '“';
        font-size: 40px;
        position: absolute;
        left: 0;
        top: 0;
        color: lightgray;
      }
      .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
  }
  .responsive-container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .column {
      flex: 1;
      padding: 10px;
    }
    
    @media (max-width: 600px) {
      .column {
        flex: 100%;
      }
    }
    .media-query-box {
      padding: 20px;
      text-align: center;
    }
    
    @media (max-width: 600px) {
      .media-query-box {
        background-color: lightcoral;
      }
    }
    
    @media (min-width: 601px) {
      .media-query-box {
        background-color: lightblue;
      }
    }
    .responsive-nav .nav-list {
      display: flex;
      list-style: none;
    a{
      text-decoration: none;
    color: #e1e2e1;
    margin: 0 10px;
  }
    }
    
    @media (max-width: 600px) {
      .responsive-nav .nav-list {
        display: none;
        text-decoration: none;
      }
    
      .responsive-nav .menu-toggle {
        display: block; 
      }
      
    }